.display-4 {
    font-size: 5rem;
    font-weight: 400 !important;
    line-height: 1.2;
}

.mark, mark{
  padding: 0;
  background-color: #ff0;
}

.section {
  display: flex;
  align-items: center;
  justify-content: center
}
