{% extends 'layout.html' %}

{% block body %}
<div class="lead">
  <h2 style="color: DarkGrey; font-family: 'Lato', sans-serif;">PURPOSE</h2>
  <p>Canitstreamto.me provides the most talked about shows and films on streaming services right now!  Not only can you see what the hottest works are in you own country, you can see what is popular across the world.  With thousands of options online of what to watch next, we want to give our users information on what is being talked about everywhere!  Our intended users are media subscribers across the world.</p>
  <h2 style="color: DarkGrey; font-family: 'Lato', sans-serif;">HOW WE'RE DIFFERENT</h2>
  <p>By looking at twitter for data on the popularity of streaming shows and film we don’t just show what got the best reviews, or what everyone loves.  We show what everyone can’t stop talking about.  Whether it is what they love to binge on, what has the biggest controversy, what they love to hate, or what is plainly the best.</p>
  <h2 style="color: DarkGrey; font-family: 'Lato', sans-serif;">ACCEPT US, INC. MEMBERS</h2>
  <h3 style="color: DarkGrey; font-family: 'Lato', sans-serif;">Erin Jensby</h3>
  <p>Bio here</p>
  <h3>Nick Lavigne</h3>
  <p>Bio here</p>
  <h3>Kevin Salcedo</h3>
  <p>Bio here</p>
  <h3>Zach Kattawar</h3>
  <p>Bio here</p>
  <h3>Jordan Howe</h3>
  <p>Bio here</p>
</div>
{% endblock %}
