<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Movies</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Roboto|Lato" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/one-page-wonder.min.css" rel="stylesheet">
    <link href="/static/css/movie-details.css" rel="stylesheet">

  </head>

  <body>

    {% include 'includes/_navbar.html' %}


     <section>

      <div class="container">
        <div class="row" style = "margin-top: 150px; margin-bottom:50px">
          <div class = "card">
           <div class="col-lg-4">
            
              <img class="img-responsive" src="/static/img/toy.png" alt="">
           
            
          </div>

          <div class="col-lg-8">
            
              <h3 class="display-4"> Toy Story </h3>
              <hr>

              <h4>Rating</h4>
              <p>8.3/10 IMDB</p>
              <hr>
              <h4>Desc</h4>
              <p>A cowboy doll is profoundly threatened and jealous when a new spaceman figure supplants him as top toy in a boy's room.</p>
              <hr>
              <h4>Cast</h4>
                <p>Tom Hanks, Tim Allen, Don Rickles, Jim Varnet, Wallace Shawn</p>
              <hr>
              <h4>Popular Countries</h4>
                <p><a href="/country1">USA,</a> <a href="/country2">Brazil,</a> <a href="/country3">Germany,</a> <a href="/country4">South Korea</a></p>
              <hr>
              <h4>Compatible Streaming Services</h4>
                <p><a href="/service1"> Hulu,</a> <a href="/service2">Netflix,</a> <a href="/service3">Amazon Video,</a> <a href="/service4">Epix</a></p>
              <hr>
          </div>
         </div>
        </div>

      </div>
    </section>

    <!-- Footer -->
    <footer class="py-5 bg-black">
      <div class="container">
        <p class="m-0 text-center text-white small">Copyright &copy; Your Website 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

  </body>

</html>
