<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Services - Epix</title>

  <!-- Bootstrap core CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Roboto|Lato" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/static/css/one-page-wonder.min.css" rel="stylesheet">
  <link href="/static/css/movie-details.css" rel="stylesheet">

</head>

<body>

  {% include 'includes/_navbar.html' %}


  <section>

    <div class="container">
      <div class="row" style="margin-top: 150px; margin-bottom:50px">
        <div class="card">
          <div class="col-lg-4">

            <img class="img-responsive" src="/static/img/epix-logo.png" alt="">


          </div>

          <div class="col-lg-8">

            <h3 class="display-4"> Epix </h3>
            <hr>

            <h3>URL</h3>
            <a href="https://www.epix.com" target="_blank">www.epix.com</a>
            <hr>
            <h3>Cost</h3>
            <p>Dependent on Cable Provider</p>
            <hr>
            <h3>Top Movies on Epix</h3>
            <a href="/movie4">Wonder Woman <br /></a>
            <a href="/movie1">Blade Runner <br /></a>
            <hr>
            <h3>Countries Where Available</h3>
            <a href="/country4">South Korea <br /></a>
            <a href="/country1">USA <br /></a>
            <hr>
          </div>
        </div>
      </div>

    </div>
  </section>

  <!-- Footer -->
  <footer class="py-5 bg-black">
    <div class="container">
      <p class="m-0 text-center text-white small">Copyright &copy; Your Website 2018</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>

</html>
