<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Services - Netflix</title>

  <!-- Bootstrap core CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Roboto|Lato" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/static/css/one-page-wonder.min.css" rel="stylesheet">
  <link href="/static/css/movie-details.css" rel="stylesheet">

</head>

<body>

  {% include 'includes/_navbar.html' %}


  <section>

    <div class="container">
      <div class="row" style="margin-top: 150px; margin-bottom:50px">
        <div class="card">
          <div class="col-lg-4">

            <img class="img-responsive" src="/static/img/netflix-logo.png" alt="">


          </div>

          <div class="col-lg-8">

            <h3 class="display-4"> Netflix </h3>
            <hr>

            <h3>URL</h3>
            <a href="https://www.netflix.com" target="_blank">www.netflix.com</a>
            <hr>
            <h3>Cost</h3>
            <p>Basic: $7.99/mo</p>
            <p>Standard: $10.99/mo</p>
            <p>Premium: $13.99/mo</p>
            <hr>
            <h3>Top Movies on Netflix</h3>
            <a href="/movie2">Toy Story <br /></a>
            <a href="/movie3">The Godfather <br /></a>
            <hr>
            <h3>Countries Where Available</h3>
            <a href="/country2">Brazil <br /></a>
            <a href="/country3">Germany <br /></a>
            <hr>
          </div>
        </div>
      </div>

    </div>
  </section>

  {% include 'includes/_footer.html' %}


  <!-- Bootstrap core JavaScript -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>

</html>
